<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="namespace" default="" />

  <material name="orange"><color rgba="1.0 0.33 0.0 1.0"/></material>
  <material name="red"><color rgba="0.8 0 0 1"/></material>
  <material name="green"><color rgba="0 1 0 1"/></material>
  <material name="blue"><color rgba="0 0 1 1"/></material>
  <material name="black"><color rgba="0 0 0 1.0"/></material>
  <material name="grey"><color rgba="0.7 0.7 0.7 1.0"/></material>
  <material name="white"><color rgba="1 1 1 1.0"/></material>

  <xacro:include filename="$(find marrtino_gazebo)/urdf/inertia.xacro" />

  <xacro:property name="base_w" value="0.40" />
  <xacro:property name="base_l" value="0.30" />
  <xacro:property name="base_h" value="0.20" />

  <xacro:macro name="marrtino_base">
  
      <xacro:property name="wheel_l" value="0.03" />

      <xacro:property name="wheel_friction" value="0.01" />
      <xacro:property name="wheel_damping" value="0.05" />
      <xacro:property name="wheel_max_effort" value="100.0" />

      <link name="base_footprint" />


      <link name="base_link">
        <visual>
            <geometry>  
                <box size="${base_l} ${base_w} ${base_h}"/> 
            </geometry>   
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/> 
            <material name="red"/>
        </visual>
        <collision>
            <geometry>  
                <box size="${base_l} ${base_w} ${base_h}"/> 
            </geometry>   
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/> 
        </collision>
        <xacro:box_inertial mass="0.2" x_dim="${base_l}" y_dim="${base_w}" z_dim="${base_h}"/>
      </link>

      <!-- to balance weight on the bottom and between the wheels -->
      <link name="battery_link">
        <visual>
            <geometry>
                <box size="${base_l/4} ${base_w/4} ${base_h/4}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="${base_l/4} ${base_w/4} ${base_h/4}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </collision>
        <xacro:box_inertial mass="0.3" x_dim="${base_l/4}" y_dim="${base_w/4}" z_dim="${base_h/4}"/>
      </link>

      <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="${wheel_r}" length="${wheel_l}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
            <material name="black"/>     
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${wheel_r}" length="${wheel_l}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="0.3" radius="${wheel_r}" length="${wheel_l}"/>
      </link>

      <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="${wheel_r}" length="${wheel_l}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
            <material name="black"/>     
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${wheel_r}" length="${wheel_l}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="0.3" radius="${wheel_r}" length="${wheel_l}"/>
      </link>

      <link name="caster_wheel">
        <visual>
            <geometry>
                <sphere radius="${wheel_r/2}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="black"/>            
        </visual>
        <collision>
            <geometry>
                <sphere radius="${wheel_r/2}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </collision>
        <xacro:sphere_inertial mass="0.1" radius="${wheel_r/2}" />
      </link>



      <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 ${base_h/2+wheel_r}" rpy="0.0 0.0 0.0"/>
      </joint>

      <joint name="battery_joint" type="fixed">
        <parent link="base_link"/>
        <child link="battery_link"/>
        <origin xyz="${base_l/4} 0.0 ${-wheel_r*2}" rpy="0.0 0.0 0.0"/>
      </joint>

      <joint name="left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <origin xyz="${base_l/4} ${base_w/2+wheel_l/2} ${-base_h/2}" rpy="0 0.0 0.0"/>  
        <axis xyz="0.0 1.0 0.0"/>
        <dynamics damping="${wheel_damping}" friction="${wheel_friction}"/>
        <limit effort="${wheel_max_effort}" velocity="${wheel_max_velocity}"/>
      </joint>

      <joint name="right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <origin xyz="${base_l/4} ${-base_w/2-wheel_l/2} ${-base_h/2}" rpy="0 0.0 0.0"/>  
        <axis xyz="0.0 1.0 0.0"/>
        <dynamics damping="${wheel_damping}" friction="${wheel_friction}"/>
        <limit effort="${wheel_max_effort}" velocity="${wheel_max_velocity}"/>
      </joint>

      <joint name="caster_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="caster_wheel"/>
        <origin xyz="${-base_l/4} 0.0 ${-base_h/2-wheel_r/2}" rpy="0.0 0.0 0.0"/>
      </joint>

  </xacro:macro>


  <xacro:macro name="marrtino_sensors">

      <link name="imu_link">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0.0"/>
          <geometry>
            <box size="0.04 0.04 0.02"/>
          </geometry>
          <material name="green"/> 
        </visual>        
      </link>

      <link name="camera_optical_link" />

      <link name="camera_link">
        <visual>
          <origin xyz="0 0 0.05" rpy="0 0 0" />
          <geometry>
            <cylinder radius="0.01" length="0.10"/>
          </geometry>
          <material name="black"/> 
        </visual>        
        <visual>
          <origin xyz="0.01 0 ${0.10+0.02}" rpy="0 ${pi/2+0.6} 0" />
          <geometry>
            <cylinder radius="0.02" length="0.02"/>
          </geometry>
          <material name="black"/> 
        </visual>
      </link>

      <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="white"/>  
        </visual>
      </link>

      <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="${-base_l/4} 0.0 ${base_h/2+0.01}" rpy="0.0 0.0 0.0"/>
      </joint>

      <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0 0.0 ${base_h/2}" rpy="0.0 0.0 0.0"/>
      </joint>

      <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_optical_link"/>
        <origin xyz="0.02 0 ${0.10+0.02}" rpy="0 0.6 0"/>
      </joint>

      <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="${base_l/4} 0.0 ${base_h/2+0.02}" rpy="0.0 0.0 0.0"/>
      </joint>


  </xacro:macro>

  <xacro:macro name="marrtino_arms">

      <xacro:property name="arm_radius" value="0.02" />
      <xacro:property name="arm_length" value="0.2" />
      <xacro:property name="arm_mass" value="0.05" />

      <xacro:property name="arm_friction" value="0.01" />
      <xacro:property name="arm_damping" value="0.02" />

      <link name="left_arm_body">
        <visual>
            <geometry>      
                <cylinder radius="${arm_radius}" length="${2*arm_radius+0.04}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
            <material name="green"/>
        </visual>
        <collision>
            <geometry>      
                <cylinder radius="${arm_radius}" length="0.01"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="${arm_mass/10}" radius="${arm_radius}" length="0.01"/>
      </link>

      <link name="left_arm">
        <visual>
            <geometry>      
                <cylinder radius="${arm_radius}" length="${arm_length}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
            <material name="blue"/>  
        </visual>
        <collision>
            <geometry>      
                <cylinder radius="${arm_radius}" length="${arm_length}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="${arm_mass}" radius="${arm_radius}" length="${arm_length}"/>
      </link>

      <!-- link name="left_arm_tip">
        <visual>
            <geometry>
                <cylinder radius="${arm_radius}" length="0.01"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
            <material name="black"/>  
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${arm_radius}" length="0.01"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="0.01" radius="${arm_radius}" length="0.01"/>
      </link -->

      <link name="right_arm_body">
        <visual>
            <geometry>      
                <cylinder radius="${arm_radius}" length="${2*arm_radius+0.04}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
            <material name="green"/>
        </visual>
        <collision>
            <geometry>      
                <cylinder radius="${arm_radius}" length="0.01"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="${arm_mass/10}" radius="${arm_radius}" length="0.01"/>
      </link>

      <link name="right_arm">
        <visual>
            <geometry>      
                <cylinder radius="${arm_radius}" length="${arm_length}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
            <material name="blue"/>  
        </visual>
        <collision>
            <geometry>      
                <cylinder radius="${arm_radius}" length="${arm_length}"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
        </collision>
        <xacro:cylinder_inertial mass="${arm_mass}" radius="${arm_radius}" length="${arm_length}"/>
      </link>


      <joint name="left_arm_joint" type="revolute">
        <parent link="base_link"/>
        <child link="left_arm_body"/>
        <origin xyz="0.1 ${0.221+arm_radius} 0.07" rpy="0 0 0"/>  
        <axis xyz="0.0 1.0 0.0"/>
        <dynamics friction="${arm_friction}" damping="${arm_damping}" />
        <limit lower="${arm_lower_limit}" upper="${arm_upper_limit}"
            effort="${arm_max_effort}" velocity="${arm_max_velocity}"/>
      </joint>

      <joint name="left_arm_body_joint" type="fixed">
        <parent link="left_arm_body"/>
        <child link="left_arm"/>
        <origin xyz="${arm_length/2} 0.02 0.0" rpy="0 0.0 0.0"/>
      </joint>

      <!-- joint name="left_arm_tip_joint" type="fixed">
        <parent link="left_arm"/>
        <child link="left_arm_tip"/>
        <origin xyz="${arm_length/2} 0.0 0.0" rpy="0 0.0 0.0"/>
      </joint -->

      <joint name="right_arm_joint" type="revolute">
        <parent link="base_link"/>
        <child link="right_arm_body"/>
        <origin xyz="0.1 ${-(0.221+arm_radius)} 0.07" rpy="0 0 0"/>
        <axis xyz="0.0 1.0 0.0"/>
        <dynamics friction="${arm_friction}" damping="${arm_damping}" />
        <limit lower="${arm_lower_limit}" upper="${arm_upper_limit}"
            effort="${arm_max_effort}" velocity="${arm_max_velocity}"/>
      </joint>

      <joint name="right_arm_body_joint" type="fixed">
        <parent link="right_arm_body"/>
        <child link="right_arm"/>
        <origin xyz="${arm_length/2} -0.02 0.0" rpy="0 0.0 0.0"/>  
      </joint>
      
  </xacro:macro>
 
 


</robot>

