<?xml version="1.0"?>

<window>
    <width>400</width>
    <height>500</height>
    <style material_theme="Light" material_primary="DeepOrange" material_accent="LightBlue" toolbar_color_light="#f3f3f3" toolbar_text_color_light="#111111" toolbar_color_dark="#414141" toolbar_text_color_dark="#f3f3f3" plugin_toolbar_color_light="#bbdefb" plugin_toolbar_text_color_light="#111111" plugin_toolbar_color_dark="#607d8b" plugin_toolbar_text_color_dark="#eeeeee"/>
    <menus>
        <drawer visible="false" default="false"/>
        <plugins visible="false" from_paths="true"/>
    </menus>
    <dialog_on_exit>false</dialog_on_exit>
</window>

<plugin filename="ImageDisplay">
  <gz-gui>
    <property type="int" key="height">120</property>
  </gz-gui>
  <topic>/camera/image</topic>
  <property key="showTitleBar" type="bool">false</property>
</plugin>

